/* this css file will only style the homepage of our site */

.my-portrait {
  margin: 10px;
  max-width: 300px;
}

.my-portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2, p {
  display: block;
  margin-left:380px;
  width: 50%;
}

p {
  text-wrap: balance;
}